<a href="https://colab.research.google.com/github/sanjay6734/Python-learning/blob/main/data%20structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.Difference between the list and tuple?

List
1. Lists are mutable.
2. Lists are represented by [ ] brackets.

Tuple
1. Tuples are immutable.
2. Tuples are represented by ( ) brackets.

## 2.How list is different from an array

1. List can consist of elements belonging to different datatypes.
2. Array Only consists of elements belonging to the same datatype.
3. List preferred for a shorter sequence of data items whereas array preferred for a longer sequence of data items.

## 3. Use the python list append(),copy(), clear, count, extends(), index(), insert(), pop(), reverse(), sort(), min(), max(),and sum()

In [2]:
#append
a=[1,2,3]
a.append(4)
a.append(5)
a.append("hello")
print(a)

[1, 2, 3, 4, 5, 'hello']

In [3]:
#copy
a=[6,7,8,9]
b=a.copy()
print(b)

[6, 7, 8, 9]

In [4]:
#clear
a=[1,2,3,4]
a.clear()
print(a)

[]

In [14]:
#count
l=[1,2,3,3,4,5]
l.count(3)

2

In [7]:
#extends
a=[1,2,3]
b=[4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [8]:
#index
a=[1,2,3,4,5]
a.index(3)

2

In [20]:
#insert
b=[5,6,7,8]
b.insert(0,4)
print(b)

[4, 5, 6, 7, 8]

In [22]:
#pop
a=[1,2,3]
b=l.pop(1)
print("poped element is: ",b)

poped element is:  2

In [23]:
#reverse
x=[4,3,2,1]
x.reverse()
print(x)

[1, 2, 3, 4]

In [25]:
#sort
y=[7,5,9,8,6]
y.sort()
print(y)

[5, 6, 7, 8, 9]

In [28]:
#min and max
a=[1,7,3,4,9]
b=min(a)
c=max(a)
print("min value is:",b)
print("max value is:",c)

min value is: 1
max value is: 9

In [30]:
#sum
l=[1,2,3,4,5,6,7,8,9]
z=sum(l)
print(z)

45

## 4, How would you divide the list into two parts?

In [35]:
a=[5,6,7,8]
b=len(a)//2
c=a[:b]
d=a[b:]
print(c)
print(d)

[5, 6]
[7, 8]

## 5. how to filter the multiple of 3 from a given list and them remove the odd number from the new filtered list.
Eg A = [1,2,3,4,5,6,7,8,9,21,23,24]
Filter_lsit = [3,6,9,21,24]
output_list = [6,24]

In [38]:
a=[1,2,3,4,5,6,7,8,9,10,11,12,21,22,23,24]
b=[i for i in l if i%3==0]
c=[i for i in c if i%2==0]
print(b)
print(c)

[3, 6, 9, 12, 21, 24]
[6, 12, 24]

## 6. How you can access keys and values simultaneously and update its value

In [42]:
x={'c':2,'d':3}
for i,j in x.items():
  print(i,j)
c=str(input("Enter key:"))
d=int(input("Enter value:"))
if c in x:
  x[c]=d
  print("key founded")
else:
  print("key not found")
print(x)

c 2
d 3
Enter key:c
Enter value:2
key founded
{'c': 2, 'd': 3}

## 7. Write python program to join, merge, concatente the two dictionaries..

In [43]:
#join
dict1={'a':3,'b':4}
dict2={'c':4,'d':5}
dict1.update(dict2)
print(dict1)

{'a': 3, 'b': 4, 'c': 4, 'd': 5}

In [47]:
#merge
d1={'a':1,'b':2}
d2={'b':2,'d':3}
d=dict(d1,**d2)
print(d)

{'a': 1, 'b': 2, 'd': 3}

In [48]:
#concatente
d1={'a':1,'b':2}
d2={'b':3,'d':3}
d={**d1,**d2}
print(d)

{'a': 1, 'b': 3, 'd': 3}

## 8. How would you check a specific keys from the dictionary??

In [51]:
d={'x':3,'y':4}
c=str(input("Enter value to check:"))
if c in d:
  print("value is there")
else:
  print("value not there")

Enter value to check:x
value is there

## 9. write a python program to find the unique vowel present in the sentence

In [55]:
a=str(input("Enter a sentence:"))
b=set()
vowels = "aeiouAEIOU"
for i in a:
    if i in vowels:
        b.add(i)
if b:
    print("vowels in the sentence:",list(b))
else:
    print("No vowels found in the sentence.")

Enter a sentence:hello
vowels in the sentence: ['e', 'o']

## 10. We know that tuple is immutable, do any thing and add element to the tuples.

In [57]:
x=(3,4)
y=(8,9)
z=x+y
print(z)

(3, 4, 8, 9)

## 11. How would you sum the list of tuple and sum of tuple of list
list  = [(2,3),(4,5),(6,4)]
output= [5,9,10]

tuple  =([2,3],[4,5],[6,4])
output  =  (5,9,10)

In [59]:
# List of tuples
t=([2, 3], [4, 5], [6, 4])
a = tuple(sum(i) for i in t)
print(a)

# Tuple of lists
t_l = [(2, 3), (4, 5), (6, 4)]
c = [sum(j) for j in t_l]
print(c)

(5, 9, 10)
[5, 9, 10]

## 12. FIND THE FREQUENCY OF THE KEYS IN THE GIVEN DICTIONARY

In [62]:
a={'x':1,'y':2,'z':2}
b={}
for i in a.values():
    if i in b:
        b[i]+=1
    else:
         b[i]=1
for j,k in b.items():
    print(f"The frequency of value {j} is: {k}")

The frequency of value 1 is: 1
The frequency of value 2 is: 2